<section class="app-menu">
    <!--<div class="menu-usuario">-->
    <!--    <h1>User Options</h1>-->
    <!--    <a href="?accion=alta">Alta usuario</a>-->
    <!--    <a href="?ruta=usuario&accion=view_usuarios">Listar usuarios</a>-->
    <!--</div>-->
    <!--<hr/>-->
    <!--<div class="menu-disco">-->
    <!--    <h1>Disk Options</h1>-->
    <!--    <a href="?ruta=disco&accion=view_discos">Listar discos</a>-->
    <!--    <a href="?accion=altaDisco">Añadir disco</a>-->
    <!--    <a href="?ruta=disco&accion=view_discos_titulo">Ordenar por titulo</a>-->
    <!--    <a href="?ruta=disco&accion=view_discos_autor">Ordenar por autor</a>-->
    <!--    <h2>Busqueda</h2>-->
        
    <!--    <form class="search_form">-->
    <!--        <input type="hidden" name="ruta" value="disco" />-->
    <!--        <input type="hidden" name="accion" value="view_buscar" />-->
            
    <!--        <input type="text" name="busqueda" class="buscar" />-->
    <!--        <input type="submit" class="buscar_submit" value="Buscar" />-->
            
    <!--        <input type="radio" id="radio01" name="radio" value="titulo" checked="checked"><label for="radio01" class="op-bus">Titulo</label>-->
    <!--        <input type="radio" id="radio02" name="radio" value="autor"><label for="radio02" class="op-bus">Autor</label>-->
    <!--    </form>-->
    <!--</div>-->
    {menu}
</section>
<section class="desktop">
    {desktop}
</section>
