<div class="alta-usuario-content">
    <form>
        <input type="hidden" name="ruta" value="usuario" />
        <input type="hidden" name="accion" value="doedit" />
        <input type="hidden" name="loginpk" value="{login}" />
        
        <h1>Editar usuario</h1>
        <input type="text" class="in-txt" name="login" value="{login}" placeholder=" Nombre" /><br/>
        <input type="password" class="in-txt" name="password" value="" placeholder=" Nueva contraseña" /><br/>
        
        <input type="submit" class="in-btn" value="Enviar" />
    </form>
</div>